name: Update API from slack-api-ref
on:
  push:
    branches:
      - "master"
jobs:
  update-api:
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - uses: actions/checkout@v3
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.2"
          bundler-cache: true
      # - name: Update API from slack-api-ref
      #   run: bundle exec rake slack:api:update
      - name: Get current date
        run: echo "CURRENT_DATE=$(date +'%Y-%m-%d')" >> $GITHUB_ENV
      - name: Create pull request
        id: create-pull-request
        uses: peter-evans/create-pull-request@v4
        with:
          commit-message: Update API from slack-api-ref (${{ env.CURRENT_DATE }})
          title: Update API from slack-api-ref (${{ env.CURRENT_DATE }})
          branch: update-api
          base: master
          # push-to-fork: duffn/slack-ruby-client-dev
      # - name: Update CHANGELOG
      #   run: |
      #     ruby -i -pe 'sub(/\* Your contribution here\./, "* Your contribution here.\n* [#${{ steps.create-pull-request.outputs.pull-request-number }}"](https://github.com/slack-ruby/slack-ruby-client/pull/${{ steps.create-pull-request.outputs.pull-request-number }}"): Update Slack API (${{ env.CURRENT_DATE }}) - [@slack-ruby-client](https://github.com/slack-ruby/slack-ruby-client).")' CHANGELOG.md
      # - name: Create pull request
      #   id: update-changelog
      #   uses: peter-evans/create-pull-request@v4
      #   with:
      #     commit-message: Update API from slack-api-ref (${{ env.CURRENT_DATE }})
      #     title: Update API from slack-api-ref (${{ env.CURRENT_DATE }})
      #     branch: update-api
      #     base: master
          # push-to-fork: duffn/slack-ruby-client-dev
